@charset "utf-8";
/* CSS Document */

/*基本*/
body {
	margin: 0;
	padding: 0;
}

.WRAPPER {
	overflow: hidden;
}

/*全BOX版面*/
.WRAPPER {
	z-index: 0;
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	width: 100%;
	min-width: 1220px;
	text-align: left;
	font-family: "微軟正黑體", "Microsoft JhengHei", Helvetica;
}

.WRAPPER img {
	border: 0px;
	vertical-align: top;
}

.WRAPPER a {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent
}

.Area .list_00 ul {
	display: inline-block;
}

.Area .list_00 li {
	list-style: none;
	float: left;
	overflow: hidden;
}

@media screen and (max-width:767px) {
	.WRAPPER {
		padding-bottom: 0px;
		min-width: inherit;
		min-height: 100vh;
		overflow: hidden;
		background-color: none;
	}

	.WRAPPER img {
		width: 100%;
		height: auto;
	}
}

/*共用--區塊_切割 v2*/
.Area_gird {
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.Area_gird:after {
	content: "";
	display: block;
	clear: both;
}

.Area_gird .gird-slide {
	float: left;
	display: block;
	padding: 0;
	list-style: none;
}

/*共用--區塊_切割PC*/
@media screen and (min-width:768px) {
	.Area_gird_1bn_PC .gird-slide {
		margin: 0 1% 2% 0;
		width: 98%;
	}

	.Area_gird_2bn_PC .gird-slide {
		margin: 0 1% 2%;
		width: 48%;
	}

	.Area_gird_3bn_PC .gird-slide {
		margin: 0 1% 2%;
		width: 31.3%;
	}

	.Area_gird_4bn_PC .gird-slide {
		margin: 0 0.5% 2%;
		width: 24%;
	}

	.Area_gird_1bn_nopadding_PC .gird-slide {
		width: 100%;
	}

	.Area_gird_2bn_nopadding_PC .gird-slide {
		width: 50%;
	}

	.Area_gird_3bn_nopadding_PC .gird-slide {
		width: 33.3%;
	}

	.Area_gird_4bn_nopadding_PC .gird-slide {
		width: 25%;
	}

	.Area_gird_5bn_nopadding_PC .gird-slide {
		width: 20%;
	}

	.Area_gird_6bn_nopadding_PC .gird-slide {
		width: 16.6%;
	}
}

/*共用--區塊_切割Phone*/
@media screen and (max-width:767px) {
	.gird-slide img {
		width: 100%;
	}

	.Area_gird_1bn_Phone .gird-slide {
		margin: 0 1% 2% 0;
		width: 98%;
	}

	.Area_gird_2bn_Phone .gird-slide {
		margin: 0 1% 2%;
		width: 48%;
	}

	.Area_gird_3bn_Phone .gird-slide {
		margin: 0 1% 2%;
		width: 31.3%;
	}

	.Area_gird_4bn_Phone .gird-slide {
		margin: 0 0.5% 2%;
		width: 25%;
	}

	.Area_gird_1bn_nopadding_Phone .gird-slide {
		width: 100%;
	}

	.Area_gird_2bn_nopadding_Phone .gird-slide {
		width: 50%;
	}

	.Area_gird_3bn_nopadding_Phone .gird-slide {
		width: 33.3%;
	}

	.Area_gird_4bn_nopadding_Phone .gird-slide {
		width: 25%;
	}

	.Area_gird_5bn_nopadding_Phone .gird-slide {
		width: 20%;
	}

	.Area_gird_6bn_nopadding_Phone .gird-slide {
		width: 16.6%;
	}
}

/*PC背景*/
.bg_01 {
	z-index: -30;
	position: absolute;
	top: 0;
	margin-left: -960px;
	left: 50%;
	width: 100%;
	min-width: 1920px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center top;
	pointer-events: none;
}

.bg_01 img {
	width: 100%;
}

.bg_color {
	z-index: -50;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: repeat-y;
	background-position: center top;
	pointer-events: none;
}

@media screen and (min-width:768px) {
	.bg_color {
		background-color: #630100;
	}
}


/*版頭區塊*/
.Area_title {
	height: 720px;
}

@media screen and (max-width:767px) {
	.Area_title {
		height: 100%;
		overflow: hidden;
	}
}

.title01 {
	position: absolute;
	left: 700px;
	top: 105px;
	z-index: 3;
}

.title02 {
	position: absolute;
	left: 700px;
	top: 105px;
	z-index: 3;
}

.light_line01 {
	position: absolute;
	top: 460px;
	left: 1100px;
	z-index: 6;
}

.light_line02 {
	position: absolute;
	top: 515px;
	left: 600px;
	z-index: 6;
}

@media screen and (max-width:767px) {
	.title01 {
		position: absolute;
		left: 19.5vw;
		top: 9vw;
		width: 61.5%;
		z-index: 3;
	}

	.title02 {
		position: absolute;
		left: 19.5vw;
		top: 9vw;
		width: 61.5%;
		z-index: 3;
	}

	.light_line01 {
		position: absolute;
		top: 51vw;
		left: 52vw;
		z-index: 5;
	}

	.light_line02 {
		position: absolute;
		top: 59vw;
		left: 0vw;
		z-index: 5;
	}
}


/*登記區*/
/* .Area_danji {width:1220px;height:430px;position:relative;margin:0 auto;box-sizing:border-box;padding: 0;} */
/* .Area_danji .pc_danji_a {position:absolute;left:0px;top: 100px;width:1220px;} */
/* .Area_danji .pc_danji_b {position:absolute;left:0px;top: 560px;width:1220px;} */

@media screen and (max-width:767px) {
	/* .Area_danji { width:100%;height:auto; box-sizing:border-box;padding:0 0 0; margin:0 auto;background-size:100%; background-repeat: repeat-y ; } */
}

/*剩餘組數*/
.txt {
	display: block;
	z-index: 8;
	margin: 0 auto;
	font-family: "Century Gothic", "Microsoft JhengHei", "微軟正黑體", Arial, sans-serif;
	line-height: 1.5;
	text-align: left;
}

.txt p {
	width: 112px;
	height: 25px;
	border-radius: 35px;
	text-align: center;
	color: #000;
}

.pc_danji_a .txt1 {
	position: absolute;
	top: 170px;
	left: 595px;
}

.pc_danji_b .txt1 {
	position: absolute;
	top: 199px;
	left: 307px;
}

.pc_danji_b .txt2 {
	position: absolute;
	top: 199px;
	left: 281px;
}


/*1品*/
.book_01 {
	position: absolute;
	width: 62.50%;
	height: 100%;
	top: 0vw;
	left: 0vw;
}

.book_01 .count {
	position: absolute;
	top: 57%;
	left: 63%;
	color: #FFF;
	padding: 0 2vw;
	border-radius: 50px;
	z-index: 9;
}

.post {
	position: absolute;
	width: 37.50%;
	height: 50%;
	top: 0;
	left: 62.4%;
}

.list {
	position: absolute;
	width: 37.50%;
	height: 50%;
	top: 50%;
	left: 62.4%;
}

/*手機登記按鈕*/
.book_box {
	position: relative;
	margin: 0;
}

.book_box a {
	display: block;
	width: 100%;
	height: 100%;
}

.book_ {}

.book_ .count {
	margin: 0;
	padding: 0;
	color: #000000;
	text-align: center;
	font: bold 3vw/5vw "Century Gothic", Arial, "Microsoft JhengHei";
	white-space: nowrap;
}

/*1品*/
.book_01 {
	position: absolute;
	width: 62.50%;
	height: 100%;
	top: 0vw;
	left: 0vw;
}

.book_01 .count {
	position: absolute;
	top: 85%;
	left: 59%;
	padding: 0 3vw;
	border-radius: 50px;
	z-index: 9;
}

.post {
	position: absolute;
	width: 37.50%;
	height: 50%;
	top: 0;
	left: 62.4%;
}

.list {
	position: absolute;
	width: 37.50%;
	height: 50%;
	top: 50%;
	left: 62.4%;
}

/*2品*/
.book_box2 .count {
	position: absolute;
	background: #884a01;
	color: #fff;
	padding: 0 3vw;
	border-radius: 50px;
	z-index: 9;
}

.book_box2 .book_01 {
	position: absolute;
	width: 37.50%;
	height: 100%;
	top: 0vw;
	left: 0vw;
}

.book_box2 .book_01 .count {
	top: 83.5%;
	left: 24%;
}

.book_box2 .book_02 {
	position: absolute;
	width: 34.38%;
	height: 100%;
	top: 0px;
	left: 37%;
}

.book_box2 .book_02 .count {
	top: 83.5%;
	left: 23%;
}

.book_box2 .post {
	position: absolute;
	width: 28.13%;
	height: 50%;
	top: 0;
	left: 71.4%;
}

.book_box2 .list {
	position: absolute;
	width: 28.13%;
	height: 50%;
	top: 50%;
	left: 71.4%;
}

/*3品*/
.book_box3 .count {
	position: absolute;
	background: #fc2b5e;
	width: 60%;
	color: #fff;
	padding: 0 1vw;
	border-radius: 50px;
}

.book_box3 .book_01 {
	position: absolute;
	width: 34.50%;
	height: 75%;
	top: 0vw;
	left: 0vw;
}

.book_box3 .book_01 .count {
	position: absolute;
	top: 84.5%;
	left: 26%;
}

.book_box3 .book_02 {
	position: absolute;
	width: 31.0%;
	height: 75%;
	top: 0;
	left: 35%;
}

.book_box3 .book_02 .count {
	position: absolute;
	top: 84.5%;
	left: 21%;
}

.book_box3 .book_03 {
	position: absolute;
	width: 34.50%;
	height: 75%;
	top: 0;
	left: 66%;
}

.book_box3 .book_03 .count {
	position: absolute;
	top: 84.5%;
	left: 12%;
}

.book_box3 .post {
	position: absolute;
	width: 50%;
	height: 25%;
	top: 75%;
	left: 0%;
}

.book_box3 .list {
	position: absolute;
	width: 50%;
	height: 25%;
	top: 75%;
	left: 50%;
}



/*活動區*/
@media screen and (min-width:767px) {
	.Area_gift {
		position: relative;
		width: 1220px;
		height: 680px;
	}
}

@media screen and (max-width:767px) {
	.Area_gift {
		position: relative;
		width: 100%;
		height: 60vw;
		top: 7vw;
	}
}


/** RWD倒數 **/
.TimerArea2 {
	position: absolute;
	top: 80px;
	left: -10px;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 94px;
	overflow: hidden;
	letter-spacing: 0px;
}

.Timerbox2 {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 1220px;
	z-index: 5;
}

.TimerNick2 {
	position: absolute;
	left: 495px;
	top: 16px;
	z-index: 99;
	display: inline-block;
	padding-right: 14px;
	height: 96px;
	text-align: center;
}

.TimerNick2 .FontStyle2 {
	display: inline-block;
	margin: 20px 6px 0 15px;
	padding: 0;
	border: 0px;
	font: 100 32px/38px Century Gothic;
	color: #efd7a7;
	/*text-shadow:1px 1px 0px #fff;*/
	letter-spacing: 0px;
	text-align: center;
	background: transparent;
}

.TimerNick2 div:nth-of-type(2),
.TimerNick2 div:nth-of-type(3) {
	width: 48px;
}

.TimerNick2 span {
	display: none;
	padding-left: 2px;
	font: bold 20px/38px "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica;
	letter-spacing: -0.05em;
	color: #feebdc;
}

@media screen and (max-width:767px) {
	.TimerArea2 {
		position: absolute;
		left: -5vw;
		top: 6vw;
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 60px;
		z-index: 5;
		letter-spacing: 0px;
	}

	.Timerbox2 {
		position: absolute;
		display: block;
		margin: 0 auto;
		padding: 0;
		width: 100%;
		z-index: 99;
	}

	.TimerNick2 {
		z-index: 20;
		position: absolute;
		left: 4%;
		display: inline-block;
		margin: 0;
		padding-right: 5%;
		width: 80%;
		height: 0;
		padding-bottom: 13%;
		overflow: hidden;
		text-align: right;
		background-size: 100%;
	}

	.TimerNick2 .FontStyle2 {
		display: inline-block;
		margin: 3vw 0 0 0;
		padding: 0;
		border: 0px;
		width: 9vw;
		font: 300 5.5vw/11vw Century Gothic;
		/*text-shadow:1px 1px 0px #fff;*/
		letter-spacing: -1px;
		text-align: left;
		background: transparent;
	}

	.TimerNick2 div:nth-of-type(2),
	.TimerNick2 div:nth-of-type(3) {
		width: 12vw;
	}

	.TimerNick2 span {
		padding-left: 1vw;
		font: bold 4vw/11vw "微軟正黑體", "Microsoft JhengHei", Arial, Helvetica;
		letter-spacing: -0.05em;
		color: #6d0007;
	}
}


/*福袋組*/
@media screen and (min-width:767px) {
	.Area_activ {
		position: relative;
		width: 1220px;
		height: 1600px;
	}

	.Area_activ ul {
		position: relative;
		height: 100%;
		padding: 0% 0 0 0%;
		top: 150px;
	}

	.Area_activ li {
		float: left;
		list-style: none;
	}

	.Area_activ li:nth-child(1) {}

	.Area_activ li:nth-child(2) {
		width: 50%;
		margin-left: 15px;
	}

	.Area_activ li:nth-child(3) {
		width: 50%;
		margin-left: -20px;
	}
}

@media screen and (max-width:767px) {
	.Area_activ {
		position: relative;
		width: 100%;
		height: 125vw;
	}

	.Area_activ ul {
		position: relative;
		height: auto;
		padding: 0;
		margin: 0 auto;
		top: 15vw;
		width: 90%;
	}

	.Area_activ li {
		float: left;
		list-style: none;
	}

	.Area_activ li:nth-child(1) {}

	.Area_activ li:nth-child(2) {
		width: 50%;
		margin-left: 0px;
	}

	.Area_activ li:nth-child(3) {
		width: 50%;
		margin-left: 0px;
	}

}




/*館連結*/
.Area_guan {
	height: 150px;
}

.Area_guan .guan {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
}

.Area_guan .guan ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 100%;
}

.Area_guan .guan ul li {
	position: relative;
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

.Area_guan .guan ul li img {
	width: 100%;
}

@media screen and (max-width:767px) {
	.Area_guan {
		height: 100%;
	}

	.Area_guan .guan {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		padding-bottom: 30px;
	}

	.Area_guan .guan ul {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.Area_guan .guan ul li {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.Area_guan .guan ul li img {
		width: 90%;
	}
}



/*區塊_all*/
.Area {
	position: relative;
	margin: 0 auto;
	padding: 0;
	border-radius: 0;
	text-align: center;
}

.Area a {
	position: relative;
	display: inline-block;
}

.Area .go_bt {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.Area .go_bt:hover {
	-webkit-transform: scale(0.97);
	-moz-transform: scale(0.97);
	-ms-transform: scale(0.97);
	-o-transform: scale(0.97);
	transform: scale(0.97);
}

.Area1220 {
	margin: 0 auto;
	width: 1220px;
}

.Area960 {
	margin: 0 auto;
	width: 960px;
}

@media screen and (max-width:767px) {

	.Area .go_bt:hover {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}


	.Area1220 {
		width: 100%;
	}

	.Area960 {
		width: 100%;
	}

	/*區塊_切割*/
	.Area_1bn {
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
	}

	.Area_1bn a {
		float: left;
		margin: 0 0 2% 0;
		padding: 0;
		width: 100%;
		list-style: none;
	}

	.Area_2bn {
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
	}

	.Area_2bn a {
		float: left;
		margin: 0 0% 0%;
		padding: 0;
		width: 50%;
		list-style: none;
	}

	.Area_3bn {
		margin: -1px auto;
		padding: 0;
		overflow: hidden;
	}

	.Area_3bn a {
		float: left;
		margin: 0 0% 0%;
		padding: 0;
		width: 33.33%;
		list-style: none;
	}

	.Area_1bn_nopadding {
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
	}

	.Area_1bn_nopadding a {
		float: left;
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;
	}

	.Area_2bn_nopadding {
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
	}

	.Area_2bn_nopadding a {
		float: left;
		margin: 0;
		padding: 0;
		width: 50%;
		list-style: none;
	}

	.Area_3bn_nopadding {
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
	}

	.Area_3bn_nopadding a {
		float: left;
		margin: 0;
		padding: 0;
		width: 33.3%;
		list-style: none;
	}

	.Area_4bn_nopadding {
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
	}

	.Area_4bn_nopadding a {
		float: left;
		margin: 0;
		padding: 0;
		width: 25%;
		list-style: none;
	}
}


/*版頭*/
.Area_top {}

.Area_top .momologo {
	z-index: 8;
	position: absolute;
	top: 15px;
	left: 40px;
}

.Area_top .momologo a {
	display: block;
	width: 200px;
	height: 71px;
	background: url(momo_logo.png) no-repeat;
}

.Area_top .momologo a:hover {
	background: url(momo_logo.png) no-repeat;
}

@media screen and (max-width:767px) {
	.Area_top {
		height: auto;
	}

	.Area_top .momologo {
		display: none;
	}
}


@media screen and (min-width:767px) {
	.mbottom {
		margin-top: 150px
	}

	.mbottom2 {
		margin-top: 100px
	}

	.mbottom3 {
		margin-top: 150px
	}
}

@media screen and (max-width:767px) {
	.mbottom2 {
		margin-top: 4%
	}
}


/*按鈕*/
.bnn {}

.bnn a img {
	transition-duration: 0.1s;
	backface-visibility: hidden;
	transform: translateZ(0);
	display: block;
	margin: 0;
	padding: 0px;
	width: 100%;
	height: auto;
	text-align: left;
}

.bnn:hover a img {
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}


/*隱鑶*/
.for_pc {}

.for_phone {
	display: none !important;
}

@media screen and (max-width:767px) {
	.for_pc {
		display: none !important;
	}

	.for_phone {
		display: inherit !important;
	}
}


/*區塊1*/
.Area01 {
	width: 1220px;
	height: 650px;
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0;
}

.Area01 .box {
	width: 1220px;
	overflow: hidden;
	position: absolute;
	top: 170px;
	left: 50%;
	transform: translate(-50%, 0);
}

@media screen and (max-width:767px) {
	.Area01 {
		width: 100%;
		height: 168vw;
		padding: 0;
		background-color: #120404;
		margin-bottom: 5%;
	}

	.Area01 .box {
		width: 100%;
		top: 22vw;
	}

	.Area01 .PD_layout ul {
		height: auto;
	}

	.Area01 .PD_layout .PD_img {}

	.Area01 .PD_layout .PD_into {
		display: block !important;
	}
}


/*影片區*/
.Area_active03 {
	height: 960px;
}

@media screen and (max-width:767px) {
	.Area_active03 {
		height: 100%;
	}

	.Area_active03 .mo_item {
		position: relative;
		z-index: 50;
	}
}


/*錨點作圖*/
.bnto {
	position: relative;
	left: 0;
	top: 0px;
	width: 100%;
	z-index: 5;
	height: 1000px;
	margin-bottom: 30px;
}

.bnto ul {
	width: 1220px;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
}

.bnto ul li {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0px 0;
	width: 100%;
}

.bnto ul li img {
	width: 100%;
}

@media screen and (max-width:767px) {
	.bnto {
		height: auto;
		background: #000;
		padding-bottom: 5%;
	}

	.bnto {
		position: relative;
		left: 0;
		top: 0vw;
		height: auto;
		width: 100%;
	}

	.bnto ul {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.bnto ul li {
		margin: 0;
		width: 100%;
	}
}





/*區塊03*/
.Area04 {
	width: 1220px;
	;
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0;
}

@media screen and (max-width:767px) {
	.Area04 {
		width: 100%;
		height: auto;
		box-sizing: border-box;
		padding: 0 0 0;
		margin: 0 auto;
		background-size: 100%;
		/* margin-bottom: 8%; */
	}

	.Area04 .PD_layout-D2_1f4s:last-child .PD_layout-D2_1f4s-PD {
		margin-bottom: 0;
	}

	.Area04 .PD_layout-D2_1f4s .PD_layout-D2_1f4s-PD ul {
		padding-top: 0;
	}
}




/** 公版模組layout_1220_1f4s_02 **/
@media screen and (min-width:767px) {

	/*超級強牌layout_1220_1f8s_1111C*/
	/*20180328改版*/
	.layout_1220_1f8s_1111C {
		margin: 0 auto;
		position: relative;
		display: block;
		height: 450px;
		font-family: "微軟正黑體", "Microsoft JhengHei", Helvetica;
		text-align: center;
	}

	/*	.layout_1220_1f8s_1111C:nth-child(4) {background: url(layout_1220_1f8s_1.png) center top no-repeat scroll;}  
*/
	.layout_1220_1f8s_1111C::after {
		content: "";
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 160px;
	}

	.layout_1220_1f8s_1111C h2 {
		display: none;
		position: relative;
		top: 0px;
		margin: 0px;
		padding: 0px;
		height: 91px;
		font-size: 46px;
		line-height: 74px;
		color: #fff;
		letter-spacing: -3px;
		overflow: hidden;
	}

	.layout_1220_1f8s_1111C h2 b {
		font-size: 46px;
		line-height: 91px;
		color: #FFFFFF;
		letter-spacing: -3px;
	}

	.layout_1220_1f8s_1111C h2 .buttonAera_more {
		display: none;
	}

	.layout_1220_1f8s_1111C h2 .buttonAera_more:hover {
		display: none;
	}

	.layout_1220_1f8s_1111C ul {
		display: inline-block;
		margin: 0px;
		width: 1220px;
		padding: 30px 0 0 15px;
		position: relative;
	}

	.layout_1220_1f8s_1111C ul li {
		float: left;
		display: inline-block;
		position: relative;
		margin: 0px 10px 0 0;
		padding: 0;
		width: 224px;
		height: 328px;
		border-radius: 0px;
		list-style: none outside none;
		background-color: #fff;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	.layout_1220_1f8s_1111C ul li:hover {
		z-index: 5;
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	}

	.layout_1220_1f8s_1111C ul li:first-child {
		margin-left: 265px;
	}

	.layout_1220_1f8s_1111C ul li:hover::after {
		display: none;
	}

	.layout_1220_1f8s_1111C ul li a {
		text-decoration: none;
	}

	.layout_1220_1f8s_1111C ul li .logo {
		display: none;
		z-index: 1;
		position: absolute;
		top: 5px;
		left: 5%;
		border-bottom: 1px solid #000;
		width: 90%;
		height: 30px;
		overflow: hidden;
	}

	.layout_1220_1f8s_1111C ul li .logo a {
		display: block;
		font-size: 18px;
		line-height: 30px;
		color: #ff0060;
	}

	.layout_1220_1f8s_1111C ul li .logo a b {}

	.layout_1220_1f8s_1111C ul li .logo a i {}

	.layout_1220_1f8s_1111C ul li .logo:hover a {
		color: #d92670;
	}

	.layout_1220_1f8s_1111C ul li .PD a::before,
	.layout_1220_1f8s_1111C ul li .PD a::after {
		content: "";
		position: absolute;
		top: 33px;
		left: 5%;
		display: none;
		width: 6px;
		height: 6px;
		border-radius: 10px;
		overflow: hidden;
		background-color: #000;
	}

	.layout_1220_1f8s_1111C ul li .PD a::after {
		left: inherit;
		right: 5%;
	}

	.layout_1220_1f8s_1111C ul li .PD a img {
		display: block;
		margin: 0 auto;
		padding: 0px;
		width: 100%;
		height: auto;
	}

	.layout_1220_1f8s_1111C ul li .PD a h3 {
		margin: 0 auto 5px;
		padding: 0 11px;
		width: 90%;
		height: 26px;
		overflow: hidden;
		font-size: 16px;
		line-height: 26px;
		color: #fff;
		background-color: #000;
	}

	.layout_1220_1f8s_1111C ul li .PD:hover a h3 {
		color: #fff;
	}

	.layout_1220_1f8s_1111C ul li .PD a h4 {
		margin: 0px;
		padding: 10px;
		height: 13px;
		overflow: hidden;
		font: 15px/20px "微軟正黑體", "Microsoft JhengHei", Helvetica;
		text-align: center;
		color: #000
	}

	.layout_1220_1f8s_1111C ul li .PD:hover a h4 {
		color: #d92670;
	}

	.layout_1220_1f8s_1111C ul li .PD a h4 b {
		display: block;
	}

	.layout_1220_1f8s_1111C ul li .PD a h4 br {
		display: none;
	}

	.layout_1220_1f8s_1111C ul li .PD a p {
		margin: 3px 0;
		padding: 0 10px;
		height: 28px;
		line-height: 28px;
		color: #d92670;
	}

	.layout_1220_1f8s_1111C ul li .PD a p del {
		padding-right: 5px;
		font-size: 14px;
		font-family: Century Gothic;
		color: #5e5e5e;
	}

	.layout_1220_1f8s_1111C ul li .PD a p b {
		font-size: 14px;
		letter-spacing: -1px;
	}

	.layout_1220_1f8s_1111C ul li .PD a p .money {
		font-weight: bold;
		font-size: 14px;
		font-family: Century Gothic;
	}

	.layout_1220_1f8s_1111C ul li .PD a p .Price {
		font-size: 28px;
		font-family: Century Gothic;
		letter-spacing: -1px;
	}

	.layout_1220_1f8s_1111C ul li .PD a p small {
		font-size: 14px;
		letter-spacing: -1px;
	}

	img.btnGO {
		vertical-align: middle;
		width: 18px;
		margin: -2px 0 0 3px;
	}

	.layout_1220_1f8s_1111C ul li .more {
		display: none;
		position: absolute;
		bottom: 0px;
		left: 5%;
		margin: 0px auto;
		padding: 0;
		border-top: 1px solid #d7d7d7;
		width: 90%;
		height: 30px;
		overflow: hidden;
		text-align: right;
	}

	.layout_1220_1f8s_1111C ul li .more a {
		position: relative;
		display: block;
		margin: 0 auto;
		height: 30px;
		overflow: hidden;
	}

	.layout_1220_1f8s_1111C ul li .more a b {
		z-index: 1;
		position: relative;
		display: inline-block;
		padding: 0 15px 0 20px;
		height: 30px;
		overflow: hidden;
		font-weight: 300;
		font-size: 16px;
		line-height: 30px;
		color: #9c9c9c;
	}

	.layout_1220_1f8s_1111C ul li .more a i {
		position: absolute;
		top: 50%;
		right: 5px;
		display: block;
		border-top: 2px solid #9c9c9c;
		border-right: 2px solid #9c9c9c;
		width: 8px;
		height: 8px;
		-webkit-transform: translateY(-50%) rotate(45deg);
		-moz-transform: translateY(-50%) rotate(45deg);
		-ms-transform: translateY(-50%) rotate(45deg);
		-o-transform: translateY(-50%) rotate(45deg);
		transform: translateY(-50%) rotate(45deg);
	}

	.layout_1220_1f8s_1111C ul li .more:hover b {
		color: #000;
	}

	.layout_1220_1f8s_1111C ul li .more:hover i {
		border-color: #000;
	}

}

@media screen and (max-width:767px) {
	.layout_1220_1f8s_1111C {
		width: 100%;
		font-family: "微軟正黑體", "Microsoft JhengHei", Helvetica;
		text-align: center;
	}

	.layout_1220_1f8s_1111C * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}

	.layout_1220_1f8s_1111C h2 {
		display: block;
		position: relative;
		margin: -4px auto;
		padding: 0px;
		height: auto;
		overflow: hidden;
		font-weight: bold;
		font-size: 6vw;
		line-height: 9vw;
		color: #fff;
		text-align: center;
		letter-spacing: -0.05em;
		width: 100%;
	}

	.layout_1220_1f8s_1111C h2 span:before {
		content: "▌";
		color: #ff0;
	}

	.layout_1220_1f8s_1111C h2 span {
		position: relative;
		padding: 0 2%;
	}

	.layout_1220_1f8s_1111C ul {
		display: inline-block;
		margin: 0;
		padding: 0% 0 4% 2%;
		width: 100%;
	}

	.box_1 ul {
		background: #630100;
	}

	.box_2 ul {
		background: #630100;
	}

	.box_3 ul {
		background: #630100;
	}

	.box_4 ul {
		background: #630100;
	}

	.layout_1220_1f8s_1111C ul li .PD a h3 {
		background-color: #ae4a55;
	}

	.layout_1220_1f8s_1111C ul li {
		float: left;
		display: inline-block;
		position: relative;
		margin: 0.5% 1% 0% -0.3%;
		padding: 0;
		width: 49%;
		height: auto;
		list-style: none outside none;
		background-color: #fff;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}

	.layout_1220_1f8s_1111C ul li:hover {
		z-index: 5;
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	}

	.layout_1220_1f8s_1111C ul li::after {
		content: "";
		position: absolute;
		top: 3%;
		left: 0;
		display: block;
		border-right: 1px dotted #ccc;
		width: 1px;
		height: 95%;
	}

	.layout_1220_1f8s_1111C ul li:first-child::after {
		display: none;
	}

	.layout_1220_1f8s_1111C ul li:hover::after {
		display: none;
	}

	.layout_1220_1f8s_1111C ul li a {
		text-decoration: none;
	}

	.layout_1220_1f8s_1111C ul li .video {}

	.layout_1220_1f8s_1111C ul li .video a {
		position: relative;
		display: block;
		margin: 52px auto 2px;
		padding: 0px;
		width: 90%;
		height: auto;
	}

	.layout_1220_1f8s_1111C ul li .video a img {
		position: absolute;
		display: block;
		margin: 0px auto 2px;
		padding: 0px;
		width: 100%;
		height: auto;
	}

	.layout_1220_1f8s_1111C ul li .logo {
		display: none;
		z-index: 1;
		position: absolute;
		top: 0;
		left: 5%;
		border-bottom: 1px solid #000;
		width: 90%;
		height: 12vw;
		overflow: hidden;
	}

	.layout_1220_1f8s_1111C ul li .logo a {
		display: block;
		font-size: 4.5vw;
		line-height: 12vw;
		color: #d92670;
	}

	.layout_1220_1f8s_1111C ul li .logo a b {}

	.layout_1220_1f8s_1111C ul li .logo a i {}

	.layout_1220_1f8s_1111C ul li .logo:hover a {
		color: #d92670;
	}

	.layout_1220_1f8s_1111C ul li .PD a img {
		display: block;
		margin: 2vw auto 2vw;
		padding: 0px;
		width: 90%;
		height: auto;
	}

	.layout_1220_1f8s_1111C ul li .PD a h3 {
		margin: 0 auto 2vw;
		padding: 0 2vw;
		height: 6vw;
		overflow: hidden;
		font-size: 14px;
		line-height: 21px;
		color: #fff;
		width: 93%;
		background-color: #000;
		text-align: center;
		border-radius: 50px;
	}

	.layout_1220_1f8s_1111C ul li .PD:hover a h3 {
		color: #d92670;
	}

	.layout_1220_1f8s_1111C ul li .PD a h4 {
		margin: 0;
		padding: 0 2vw;
		height: 20px;
		overflow: hidden;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #000
	}

	.layout_1220_1f8s_1111C ul li .PD:hover a h4 {
		color: #d92670;
	}

	.layout_1220_1f8s_1111C ul li .PD a h4 b {
		display: block;
	}

	.layout_1220_1f8s_1111C ul li .PD a h4 br {
		display: none;
	}

	.layout_1220_1f8s_1111C ul li .PD a p {
		margin: 0;
		padding: 0 2vw;
		height: 10vw;
		line-height: 10vw;
		text-align: center;
		color: #d92670;
	}

	.layout_1220_1f8s_1111C ul li .PD a p del {
		padding-right: 2px;
		font-size: 14px;
		font-family: Century Gothic;
		color: #5e5e5e;
	}

	.layout_1220_1f8s_1111C ul li .PD a p b {
		font-size: 14px;
		letter-spacing: -1px;
	}

	.layout_1220_1f8s_1111C ul li .PD a p .money {
		font-weight: bold;
		font-size: 14px;
		font-family: Century Gothic;
	}

	.layout_1220_1f8s_1111C ul li .PD a p .Price {
		font-size: 24px;
		font-family: Century Gothic;
		letter-spacing: -1px;
	}

	.layout_1220_1f8s_1111C ul li .PD a p small {
		font-size: 14px;
		letter-spacing: -1px;
	}

	.layout_1220_1f8s_1111C ul li .more {
		display: none;
		position: absolute;
		bottom: 0px;
		left: 5%;
		margin: 0px auto;
		padding: 0;
		border-top: 1px solid #d7d7d7;
		width: 90%;
		height: 30px;
		overflow: hidden;
		text-align: right;
	}

	.layout_1220_1f8s_1111C ul li .more a {
		position: relative;
		display: block;
		margin: 0 auto;
		height: 30px;
		overflow: hidden;
		text-align: right;
	}

	.layout_1220_1f8s_1111C ul li .more a b {
		z-index: 1;
		position: relative;
		display: inline-block;
		padding: 0 15px 0 20px;
		height: 30px;
		overflow: hidden;
		font-weight: 300;
		font-size: 14px;
		line-height: 30px;
		color: #9c9c9c;
	}

	.layout_1220_1f8s_1111C ul li .more a i {
		position: absolute;
		top: 50%;
		right: 5px;
		display: block;
		border-top: 2px solid #9c9c9c;
		border-right: 2px solid #9c9c9c;
		width: 8px;
		height: 8px;
		-webkit-transform: translateY(-50%) rotate(45deg);
		-moz-transform: translateY(-50%) rotate(45deg);
		-ms-transform: translateY(-50%) rotate(45deg);
		-o-transform: translateY(-50%) rotate(45deg);
		transform: translateY(-50%) rotate(45deg);
	}

	.layout_1220_1f8s_1111C ul li .more:hover b {
		color: #000;
	}

	.layout_1220_1f8s_1111C ul li .more:hover i {
		border-color: #000;
	}
}

@media screen and (min-width:768px) {
	::-webkit-scrollbar-thumb {
		background: #ffffffbe;
	}

	::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 10px;
		height: 5px;
		background: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
	}
}