/********************命名Class時，前面需加momoStyle_********************/
/* v.2208.0801  */
/* .container{
    background-color: rgba(0, 0, 0, 0.2);} */
/* .CarouseBreath {
    animation: Breath 4s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes Breath {
    0% {
        -webkit-filter: brightness(.95) contrast(1.5);
    }

    50% {
        -webkit-filter: brightness(1.2) contrast(1.1);
    }

    100% {
        -webkit-filter: brightness(.95) contrast(1.5);
    }
} */

.col-6 .row img {
    /* 組合僅顯示第一張 */
    display: none;
}

.col-6 .mt-3 img {
    /* 組合僅顯示第一張 */
    display: block;
}

.col-6 .row img:first-child {
    /* 組合僅顯示第一張 */
    display: block;
}

.SHUpromoteBN>a {
    /* 檔期僅顯示第一張 */
    display: none !important;
}

.SHUpromoteBN>a:first-child {
    /* 檔期僅顯示第一張 */
    display: block !important;
}


body {
    margin: 0;
    padding: 0;
    background-color: #e2f1ff;
    background-image: url(SHUBG.jpg);
    width: 100%;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.safeText {
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    font-family: futurastdmedium, noto sans tc, Arial, 微軟正黑體, microsoft jhenghei, sans-serif;
}

.row {
    /*fixed flexbox stretch images*/
    align-items: center !important;
}

.col-6 {
    background-image: none;
    background-size: 100%;
    transition-duration: .3s;

}

.col-6:hover {
    /* 組合hover動態 */

    /* background-color: #00000028;
    transition-duration: .3s; */

}

.col-6 img {
    filter: brightness(0.95) drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    -webkit-filter: brightness(0.95) drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5)); 
}

.col-6 a:hover {
    cursor: pointer;
}

.SHUImageAN {
    transition-duration: .3s;
}

.SHUImageAN:hover {
    transition-duration: .3s;
    filter: brightness(1.0);
    -webkit-filter: brightness(1.0);
    transform: scale(0.97);
}

.SHUscaleAN {
    transition-duration: .3s;
    margin-bottom: 3%;
    /* 
    filter: brightness(0.95) drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
    -webkit-filter: brightness(0.95) drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5)); */
}

.SHUscaleAN:hover {
    /* filter: brightness(1.05);
    -webkit-filter: brightness(1.05); */
    transform: scale(0.97);
    cursor: pointer;
}

.SHUcategorytitle {
    /*分類大標樣式*/
    /* pointer-events: none; */
    cursor: default;
    filter: drop-shadow(3px 3px 3px #00000085);
    -webkit-filter: drop-shadow(3px 3px 3px #00000085);
}

.SHUcategorytitle span {
    /* 安全字 */
    font-size: 36px;
}

html {
    /* user-select: none; */
    /* color: black; */
    color: #000;
    text-align: center;
    scroll-behavior: smooth;
}

.lip {
    width: 100%;
    display: flex;
    justify-content: center;
}

.SHUPositionAN {
    transform: translate(0, 0);
    transition-duration: .3s;
}

.SHUPositionAN:hover {
    /* 滿額贈hover動態  */
    transform: translate(0, -8px);
}

.carousel2102 {
    margin-top: -42%;
}

.SHUnavbar a {
    color: #fff;
    background: #000;
    margin: 0 .2em;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition-duration: .3s;
    font-family: futurastdmedium, noto sans tc, Arial, 微軟正黑體, microsoft jhenghei, sans-serif;
    font-weight: 500;
    font-size: 1.08rem;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
}

/* 選單hover動態 */
.SHUnavbar a:hover {
    color: #fff;
    background: #ad0000;
    opacity: 1;


}

@media screen and (max-width: 768px) {

    body {
        background-size: 100%;
        background-repeat: repeat-y;
        background-attachment: scroll;
        background-position: 50% 50%;
        background-image: none;
        background-color: #fdf3d0;
        /* background: linear-gradient(90deg, #ffdcc8 0%, #ffe5d4 50%, #ffdcc8 100%); */
    }

    .col-6:hover {
        /* 組合hover動態 */
        filter: none;
        -webkit-filter: none;
        background-image: none;
        /* background-color: #000; */
    }

    .previewArea {
        background-image: none;
    }


    .container>.row ,.mbBG {
        /* background-image: url(SHUBGm.jpg); */
        background-color: #421401;
        /* background-position: center; */
        /* background-repeat: repeat; */
        background-size: cover;
        background-position: 50% 50%;

    }

    .bonusAnm2102:hover {
        /* 滿額贈hover動態  */
        transform: none;
        filter: none;
    }

    .Area_SHUnavbar {
        margin-bottom: 0 !important;
        /* justify-content: flex-start !important; */
    }

    .Area_SHUnavbar .Area_SHUnavbar_box {
        display: inline-flex;
        width: auto;
        max-width: inherit;
        overflow-y: hidden;
        overflow-x: auto;
        justify-content: flex-start !important;
        -webkit-overflow-scrolling: touch;
        -moz-overflow-scrolling: touch;
        -ms-overflow-scrolling: touch;
        -o-overflow-scrolling: touch;
        padding-bottom: 0.5em;
    }

    .SHUnavbar {
        flex-wrap: nowrap;
        align-items: center;
    }

    .SHUnavbar a {
        color: #fff;
        background: #800000;
        opacity: 1;
        white-space: nowrap;
        padding: 0.5em 0.8em;
    }

    .SHUnavbar a:last-child {
        margin-right: 0;
    }

    .carousel2102 {
        margin-top: -55%;
    }
}



#SHUScrolltoTopBtn {
    width: 70px;
    position: fixed;
    right: 1%;
    bottom: 3%;
    height: auto;
    opacity: 0;
    transition-duration: .3s;
    z-index: 99;
}

#SHUScrolltoTopBtn:hover {
    cursor: pointer;
    opacity: 1;
}

/* Swiper樣式區域 */
.SHUswiper {
    --swiper-theme-color: #fff;
    --swiper-navigation-color: #fff;
    --swiper-navigation-size: 30px;
}

.swiper-pagination {
    width: 100%;
    left: 0%;
    bottom: 5%;
    /* --swiper-pagination-color: #cf0000; */
}

.swiper-wrapper {
    padding-bottom: 0;
}

@media screen and (max-width: 768px) {
    .swiper-pagination {
        bottom: 5%;
    }

  

    .swiper-wrapper {
        min-height: 50vw;
    }

    .LIPswiper .swiper-wrapper {
        min-height: 105vw;
    }
}

/* .embed-responsive-16by9
{height:30vw;}
@media screen and (max-width: 768px) {

    .embed-responsive-16by9
    {height:80vw;}

} */